<font face="Times New Roman"> Homepage ini masih dalam tahap pengembangan </font><br />
<font face="Arial"> Homepage ini masih dalam tahap pengembangan </font><br />
<font face="Courier New"> Homepage ini masih dalam tahap pengembangan </font><br />
<font face="Verdana"> Homepage ini masih dalam tahap pengembangan </font><br />

<font size="1">satu,</font>
<font size="2">dua,</font>
<font size="3">tiga,</font>
<font size="4">empat,</font>
<font size="5">lima,</font>
<font size="6">enam,</font>
<font size="7">tujuh,</font>
<font size="8">delapan,</font>
<font size="9">sembilan,</font>
<font size="10">sepuluh,</font><br />
<br />

<b><font color="#FF0000">Red</font><br />
<b><font color="#800000">Maroon</font><br />
<b><font color="#00FF00">Lime</font><br />
<b><font color="#008000">Green</font><br />
<b><font color="#0000FF">Blue</font><br />
<b><font color="#000080">Navy</font><br />
<b><font color="#FFFF00">Yellow</font><br />
<b><font color="#FF00FF">Fuchsia</font><br />
<b><font color="#00FFFF">Aqua</font></br>