.main {
    width: 960px;
    margin: 80px auto;
}

.profil {
    border: 1px solid rgb(42, 49, 42); 
    padding: 15px; 
    background-color: rgb(15, 141, 135); 
    font-size: 30px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
}

.kiri {
    border: 1px solid rgb(255, 3, 3); 
    float: left; 
    width: 600px; 
    background-color: rgb(8, 255, 243);
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 1em;
    border-radius: 3px;
}

.foto {
    border: 1px solid rgb(255, 0, 0);
    width: 300px;
    margin-bottom: 20px;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.foto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20%;
    object-fit: cover;
    float: right;
    padding: 10px;
}

.foto p {
    padding-bottom: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
}

.foto img {
    margin-right: 30px;
}

.bawah {
    border: 1px solid rgb(255, 3, 3); 
    padding: px; 
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.bawah img {
    padding: 8px;
    overflow: hidden;
    transition: 0.2s;
 }
 
 .bawah img:hover {
     transform: translateY(-10%);
 
 } 

.tombol {
    background: rgb(255, 1, 1);
    color: rgb(0, 255, 221);
    border: 0;
    border-radius: 40px;
    margin: 5px;
    padding: 5px;
    width: 100px;
    overflow: hidden;
    transition: 0.2s; 
    outline: none;
  }

.tombol:hover {
    transform: translateY(-5%);
    width: 115px;
}

.tombol:active {
    background-color: lightgreen;
}

label {
    font-size: 10pt;
    color: #555;
}