* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: rgb(0, 0, 0);

}
header {
  height: 70px;
}
header h1 {
  display: inline-block;
  float: left;
  padding: 15px 24px;
  text-transform: uppercase;
}
header h1 a {
  transition: 0.3s;
}
header h1 a:hover {
  color: #f84744;
}
header ul {
  float: right;
}
header ul li {
  padding: 24px;
  display: inline-block;
}
header ul li a {
  transition: 0.3s;
}
header ul li a:hover {
  color: #f84744;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.size-picture{
  width: 250px;
}
.banner {
  background-image: url('purple.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 150px 0;
}
section {
  padding: 50px 0;
}

.banner h2,
.banner p,
.banner span {
  color: rgb(0, 0, 0);
}
.banner h2 {
  margin-bottom: 10px;
}
.banner p {
  font-size: 18px;
}
.banner-left {
  padding-left: 24px;
}
section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
}
section h3::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: rgb(26, 26, 26);
  left: calc(50% - 60px);
}
section h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 4px;
  background-color: #f84744;
  left: calc(50% - 20px);
}
#about p {
  text-align: justify;
  text-indent: 30px;
  line-height: 25px;
  margin-bottom: 15px;
}
#about, #portfolio, #pr {
  background-color: rgb(109, 109, 109) ;
}
#skills, #fitur, #kontak {
  background-color: #b122d4 ;
}
.bar .nilai {
  height: 30px;
  background-color: #003367;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.html {
  width: 100%;
}
.css {
  width: 90%;
}
.js {
  width: 70%;
}
.php {
  width: 70%;
}
.ps {
  width: 60%;
}
.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  text-align: center;
  margin-bottom: 15px;
}
.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
footer {
  background-color: rgb(140, 0, 255);
  padding: 50px;
  text-align: center;
}
footer small {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
}

.warna{
  background-color: #b700ff;
  width: 100%;
  color: rgb(255, 255, 255);
}
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}
